


body {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(128, 153, 177);
  }
 
   
  .judul 
  {
    text-align: center;
    color: white;
    font-size: 200%
  }
